@import "../mixins";
@include  lg-max {
    .main.ant-row {
     flex-direction: column;
     .col-top {
         padding-top: 20px;
     }
    }
}

.ant-spin-dot-item {
    background-color: var(--color-button);
}

