.skeleton{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
        &__img {
            width: 150px;
            height: 200px;
        }
        &__text {
            width: 200px;
            height: 20px;
            margin: 10px 0;
        }
    & > div {
        animation: skeleton 1s infinite ease-in-out;
    }
}





@keyframes skeleton {
    0% {
      background-color: rgba(165, 165, 165, .1);
    }
    50% {
      background-color: rgba(165, 165, 165, .3);
    }
    100% {
      background-color: rgba(165, 165, 165, .1);
    }
  }