.box-search {
    position: relative;
    .box-input {
        width: 100%;
        height: 20px;
        input {
            border-radius: 30px;
            width: 100%;
            height: 100%;
            outline: none;
            border: unset;
            background-color: #f7f7f7;
            padding: 27px;
            padding-left: 50px;
        }
        .icon-search {
            position: absolute;
            font-size: 25px;
            left: 10px;
            color: #999999;
        }
    }
}